*{
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s linear;
}
*::selection{
    background: #fab144;
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #111;
    overflow-x: hidden;
    width: 100%;
}
section{
    min-height: 100vh;
}
.wrapper{
    margin-left: 35rem;
}

#about,
#skills,
#services,
#contact{
    width: 95%;
    margin: 0 auto; 
}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
    border: none;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
}
.btn:hover{
    background: #f7a935;
}
.btn i{
    padding-left: 10px;
    font-size: 14px;
}
.title{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: .3rem solid #f7c984;
    color: #fff;
}
.title span{
    font-size: 4rem;
    color: #f7a935;
}

/* ============ Header Section Start ============ */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a1a;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .6rem solid #f7a935;
}
header .user .name{
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
}
header .user .dev-skill{
    font-size: 18px;
    color: #eee;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    padding: 2px 18px;
}
header .navbar ul li a{
    display: block;
    padding: 8px;
    background: rgba(168, 166, 166, 0.123);
    margin: 12px 0;
    font-size: 17px;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease;
}
header .navbar ul li a:hover{
    background: #f7a935;
}
header .navbar .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .copy-right{
    margin-top: 1rem;
}
header .copy-right p{
    color: #eee;
    font-size: 1.5rem;
    padding: .3rem;
}
header .copy-right p:last-child{
    font-size: 1.3rem;
}
header .copy-right p span:last-child{
    color: #f7a935;
    font-weight: bolder;
}
.nav-icon{
    font-size: 2.8rem;
    margin-top: 1rem;
    padding: 2px;
    cursor: pointer;
    color: #777;
}
.nav-icon:hover{
    font-size: 2.5rem;
    color: #f7a935;
}
/* ============ Header Section End ============ */

#menu{
    position: fixed;
    top: 13px;
    right: 13px;
    font-size: 19px;
    color: #eee;
    background: #333;
    padding: 10px 12px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50px;
    display: none;
}

/* ============ Home Section Start ============ */
.home{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(img/pic2.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 3rem;
    color: #eee;
}
.home h1{
    font-size: 5rem;
    color: #eee;
}
.home h1 span{
    color: #f7a935;
}
.home p{
    font-size: 1.5rem;
    line-height: 20px;
    color: #eee;
    text-align: justify;
}
/* ============ Home Section End ============ */

/* ============ About Section Start ============ */
.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
.about .row .info h3{
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
}
.about .row .info h3 span{
    color: #fab144;
}
.about .row .counter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .row .counter .counterBx{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about .row .counter .counterBx .box{
    width: 20rem;
    height: 16rem;
    background: rgba(168, 166, 166, 0.123);
    border-radius: 4px;
    margin: 2px;
    padding: 2.5rem;
}
.about .row .counter .counterBx .box:hover{
    background: #f7aa3554;
    color: #eee;
}
.about .row .counter .counterBx .box span{
    font-size: 4.8rem;
    color: #f7a935;
    font-weight: 600;
}
.about .row .counter .counterBx .box h3{
    font-size: 2.2rem;
    color: #fff;
    font-weight: bold;
}
/* ============ About Section End ============ */

/* ============ Skills Section Start ============ */
.skills{
    width: 100%;
}
.skills .container{
    margin-top: 3rem;
}
.skills .sub-title{
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 2rem;
}
.skills p{
    font-size: 1.5rem;
    color: #eee;
    margin-bottom: 1.5rem;
    line-height: 20px;
    text-align: justify;
}
.skills .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .container .sub-container{
    width: 45%;

}
.skills .container .sub-container .data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    position: relative;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    color: #eee;
    background: rgba(168, 166, 166, 0.123);
    border-radius: 5px;
    
}
.skills .container .sub-container .data .icons{
    font-size: 2rem;
    padding-right: .7rem;
    color: #f7a935;
}
.data-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f7a935;
    height: .48rem;
    border-bottom-left-radius: 4px;
    z-index: 2;
}
.html{
    width: 90%;
}
.css{
    width: 82%;
}
.js{
    width: 65%;
}
.ux-ui{
    width: 75%;
}


.skills .container .imgBx{
    width: 50%;
}
.skills .container .imgBx img{
    width: 100%;
    height: 40rem;
    border-radius: 8px;
}
/* ============ Skills Section End ============ */

/* ============ Services Section Start ============ */
.services{
    width: 100%;
}
.services .container{
    width: 100%;
    margin-top: 3rem;
}
.services .sub-title{
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 2rem;
}
.services p{
    width: 100%;
    font-size: 1.5rem;
    color: #eee;
    margin-bottom: 1.5rem;
    line-height: 20px;
    text-align: justify;
}
.services .container .contentBx{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.services .container .contentBx .box{
    width: 33%;
    background: rgba(168, 166, 166, 0.123);
    padding: 3rem;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.services .container .contentBx .box:hover{
    background: #97600d;
}
.services .container .contentBx .box span{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.services .container .contentBx .box .box-text{
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: #eee;
}
.services .container .contentBx .box p{
    width: 25rem;
    text-align: center;
    line-height: 20px;
    color: #ccc;
}
/* ============ Services Section End ============ */

/* ============ Contact Section Start ============ */
.contact{
    width: 100%;
}
.contact .contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.contact .contact-container .contact-info{
    line-height: 20px;
    font-size: 1.7rem;
    color: #eee;
}
.contact .contact-container .contact-info h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.contact .contact-container .contact-info p{
    margin-bottom: 1.5rem;
}
.contact .contact-container .contact-info i{
    color: #f7a935;
    padding-right: 5px;
}
.contact .contact-container .form{
    width: 50%;
}
.contact .contact-container .form .inputBx{
    width: 100%;
    margin-bottom: 1rem;
}
.contact .contact-container .form .inputBx .input{
    width: 100%;
    border: none;
    outline: none;
    background: rgba(168, 166, 166, 0.123);
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
    color: #eee;
    border-bottom: 3px solid #804f06;
}
.contact .contact-container .form .inputBx .input:focus{
    background: rgba(100, 78, 44, 0.308);
}
/* ============ Contact Section End ============ */





/* ====== Media Queries ====== */
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media(max-width: 991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0;
    }
    body{
        padding: 0;
    }
    .wrapper{
        margin-left: 0;
    }
}

@media(max-width: 768px){
   html{
       font-size: 50%;
   }
   .services .container .contentBx{
        display: block;
    }
    .services .container .contentBx .box{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .services .container .contentBx .box p{
        width: 70%;
    }
    .about,
    .skills,
    .services,
    .contact{
        margin-top: 100px;
    }
}
@media(max-width: 600px){
    header{
        width: 100vw;
    }
    .about .row{
        display: block;
    }
    .about .row .info{
        padding: 0 9.5rem;
    }
    .about .row .counter{
        margin-top: 3rem;
        display: block;
    }
    .about .row .counter .counterBx{
        display: block;
    }
    .about .row .counter .counterBx .box{
        width: 100%;
        margin-bottom: 1rem;
    }
    .skills .container{
        display: block;
    }
    .skills .container .sub-container{
        width: 100%;
        margin-bottom: 2rem;
    }
    .skills .container .imgBx{
        width: 100%;
    }
    .services p{
        width: 100%;
    }
    .contact .contact-container{
        display: block;
    }
    .contact .contact-container .contact-info,
    .contact .contact-container .form{
        width: 100%;
        margin-bottom: 15px;
    }
   
}
@media(max-width: 400px){
    
    .about .row{
        width: 100%;
        display: block;
    }
    .about .row .info{
        padding: 0 4rem;
    }
}